[submodule "pack/git_packs/start/vim-ps1"]
	path = pack/git_packs/start/vim-ps1
	url = git@github.com:PProvost/vim-ps1.git
[submodule "pack/git_packs/start/vim-LanguageTool"]
	path = pack/git_packs/start/vim-LanguageTool
	url = git@github.com:dpelle/vim-LanguageTool.git
